{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div class="container">

    <h1>Welcome to my CS50 final project!</h1>
    <p>The aim of this project was to conduct some data analysis related to cricket and present the results in this website. The core of this analysis was to estimate the causal run value of a wicket and encapsulate a bowler's economy and average in a single figure that can be used to make like-for-like comparisons. In this website, we present our methodology, a tool to compare bowlers by our proprietary statistic, and a TOP 10 bowler leaderboard. Enjoy!</p>
    
</div>

<div class="image">
    <img src="/static/cricket_banner.jpg" alt="Image">
</div>

{% endblock %}